<% layout ('./layout/pattern') -%>

<div class="container">
    <div class="row">

        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Названия</th>
                    <th scope="col"></th>
                </tr>
                </thead>
            </table>
        </div>

        <div class="col">
            <form>
                <fieldset>
                    <div class="form-group">
                        <label for="name">Счетчик</label>
                        <select class="form-control" id="type">
                            <option value="water">Водяной</option>
                            <option value="gas">Газовый</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="type">Место</label>
                        <select class="form-control" id="place">
                            <option value="kitchen">Кухня</option>
                            <option value="bathroom">Ванная</option>
                            <option value="room_1">Комната 1</option>
                            <option value="room_2">Комната 2</option>
                            <option value="room_3">Комната 3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="data">Показания</label>
                        <input type="text" id="data" class="form-control" placeholder="Показания" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </fieldset>
            </form>
        </div>

    </div>
</div>

<script>
    var form = document.querySelector("form");
    form.addEventListener("submit", addData);

    function addData(event) {
        event.preventDefault();

        var newData = {};
        newData.type = document.querySelector("#type").value;
        newData.place = document.querySelector("#place").value;
        newData.data = document.querySelector("#data").value;

        $.ajax({
            type: 'POST',
            url: '/add-counter',
            dataType: 'json',
            data: newData,
            success: function () {
                location.reload();
            },
            error: function () {
                location.reload();
            }
        });
    }
</script>